@import url('https://fonts.googleapis.com/css?family=Righteous');
@import url('https://fonts.googleapis.com/css?family=Cutive+Mono');

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    overflow: hidden;
    /* Замените 'path/to/background-image.jpg' на путь к вашей картинке */
    background-image: url('1204f69e-e03a-4b21-acd2-65247557a425.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #fff;
    font-family: 'Cutive Mono', sans-serif;
    margin: 0;
    perspective: 1000px;
    text-align: center;
}

.card {
    position: absolute;
    top: 100px;
    left: 50%;
    margin-left: -175px;
    width: 350px;
    height: 470px;
    transform-style: preserve-3d;
    transition: all ease-in-out 1s;
}

.page {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: 0 0;
}

.cover {
    z-index: 2;
    transform: rotateY(-20deg);
    transition: transform ease-in-out 1.4s;
    z-index: 5;
    background-color: #290b43fd;
}

.cover .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cover button {
    cursor: pointer;
    background: transparent;
    border: 3px solid #fff;
    color: #fff;
    font-size: 20px;
    padding: 0.5em 1.4em;
}

.inside {
    z-index: 1;
    transform: rotateY(-8deg);
    background-image: url('image\ copy.jpg'); /* Замените 'path/to/your/image.jpg' на путь к вашей картинке */
    background-size: cover;
    background-position: center;
}

.card.open .cover {
    transform: rotateY(-175deg);
}

.pyro {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.pyro > .before, .pyro > .after {
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    box-shadow: 
        0 0 #fff,
        0 0 #fff,
        0 0 #fff,
        0 0 #fff,
        0 0 #fff,
        0 0 #fff,
        0 0 #fff,
        0 0 #fff,
        0 0 #fff,
        0 0 #fff,
        0 0 #fff,
        0 0 #fff,
        0 0 #fff,
        0 0 #fff,
        0 0 #fff,
        0 0 #fff,
        0 0 #fff,
        0 0 #fff,
        0 0 #fff,
        0 0 #fff,
        0 0 #fff,
        0 0 #fff,
        0 0 #fff,
        0 0 #fff,
        0 0 #fff,
        0 0 #fff,
        0 0 #fff,
        0 0 #fff,
        0 0 #fff,
        0 0 #fff,
        0 0 #fff,
        0 0 #fff,
        0 0 #fff,
        0 0 #fff,
        0 0 #fff,
        0 0 #fff,
        0 0 #fff,
        0 0 #fff,
        0 0 #fff,
        0 0 #fff,
        0 0 #fff,
        0 0 #fff,
        0 0 #fff,
        0 0 #fff,
        0 0 #fff,
        0 0 #fff,
        0 0 #fff,
        0 0 #fff,
        0 0 #fff;
    animation: bang 1s ease-out infinite backwards, gravity 1s ease-in infinite backwards, position 5s linear infinite backwards;
}
    
.pyro > .after {
    animation-delay: 1.25s, 1.25s, 1.25s;
    animation-duration: 1.25s, 1.25s, 6.25s;
}
        
@keyframes bang {
    to {
        box-shadow: 
            100px 100px hsl(0, 100%, 50%),
            -100px 100px hsl(30, 100%, 50%),
            100px -100px hsl(60, 100%, 50%),
            -100px -100px hsl(90, 100%, 50%),
            50px 50px hsl(120, 100%, 50%),
            -50px 50px hsl(150, 100%, 50%),
            50px -50px hsl(180, 100%, 50%),
            -50px -50px hsl(210, 100%, 50%),
            75px 75px hsl(240, 100%, 50%),
            -75px 75px hsl(270, 100%, 50%),
            75px -75px hsl(300, 100%, 50%),
            -75px -75px hsl(330, 100%, 50%),
            125px 125px hsl(360, 100%, 50%),
            -125px 125px hsl(30, 100%, 50%),
            125px -125px hsl(60, 100%, 50%),
            -125px -125px hsl(90, 100%, 50%);
    }
}
    
@keyframes gravity {
    to {
        transform: translateY(200px);
        opacity: 0;
    }
}
    
@keyframes position {
    0%, 19.9% {
        margin-top: 10%;
        margin-left: 40%;
    }
    20%, 39.9% {
        margin-top: 40%;
        margin-left: 30%;
    }
    40%, 59.9% {  
        margin-top: 20%;
        margin-left: 70%
    }
    60%, 79.9% {  
        margin-top: 30%;
        margin-left: 20%;
    }
    80%, 99.9% {  
        margin-top: 30%;
        margin-left: 80%;
    }
}
